{% extends 'base.html.twig' %}

{% block title %}New Post
{% endblock %}

{% block body %}
<main>
	{% if app.user %}
	<div class="form_container">
		<h1>Create new Post</h1>
		{# <div class="post-button"> #}
			{{ include('post/_form.html.twig') }}		
		{# </div> #}
	</div>
	{% else %}
		<h1>Access Denied</h1>
		<p>You must be logged in to create a new post.</p>
		<a href="{{ path('app_login') }}">Login</a>
	{% endif %}
</main>
{% endblock %}
