{% extends 'base.html.twig' %}

{% block title %}New Post
{% endblock %}

{% block body %}
	{% if app.user %}
		<h1>Create new Post</h1>

		{{ include('post/_form.html.twig') }}
		<a href="{{ path('app_image_new') }}" class="btn btn-secondary">Add Image</a>
		<a href="{{ path('app_post_index') }}">back to list</a>
	{% else %}
		<h1>Access Denied</h1>
		<p>You must be logged in to create a new post.</p>
		<a href="{{ path('app_login') }}">Login</a>
	{% endif %}

{% endblock %}
