@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin button-style($bg-color, $text-color: $white, $hover-bg-color: darken($bg-color, 10%), $hover-text-color: $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 4px 12px;
    border-radius: 8px;
    font-family: $font-primary;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
  
    &:hover {
      background-color: $hover-bg-color;
      color: $hover-text-color;
      transform: scale(1.05);
    }
  }
  

  @mixin text-shadow($h-shadow: 1px, $v-shadow: 1px, $blur: 2px, $color: rgba(0, 0, 0, 0.5)) {
    text-shadow: $h-shadow $v-shadow $blur $color;
  }

  
  @mixin background-gradient-image($image, $color-start, $color-end, $angle: 45deg) {
    background-image: linear-gradient($angle, $color-start, $color-end), url($image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }