// Colors
$primary-dark: rgba(0, 0, 0, 1); // Noir
$primary-purple: rgba(113, 16, 216, 1);
$pers-green: rgba(8, 165, 36, 1);
$primary-autumn: rgba(165, 56, 10, 1); // Automne
$white: rgba(255, 255, 255, 1);
$text-autumn: rgba(202, 113, 12, 1);
$autumn-back: rgba(154, 100, 0, 0.58);
$grey-back: rgba(43, 43, 43, 1); // Gris très foncé

// Typography
$font-primary: 'Lexend-Bold', Helvetica, sans-serif;
