@use '../abstracts/variables' as *;

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 80%;

    .login-h1 {
        align-self: center;
        color: $white;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: $primary-automn;
        font-family: Lexend, Helvetica;
        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
    }
}