{% if app.user and image.id_user == app.user %}
{{ form_start(form, {'attr': {'class': 'image-form', 'enctype': 'multipart/form-data'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Add Image</button>
{{ form_end(form) }}
{% endif %}