/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    background-color: var(--variable-collection-grey-back);
    color: var(--variable-collection-white);
}
/* header {
    min-height: 20vh;

} */
main {
    /* background-color: #0D1117;
    color: white; */
    background-color: var(--variable-collection-grey-back);
    color: var(--variable-collection-white);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.pixelarticons-heart {
    background-image: url(/images/pixelarticons_heart.svg);
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: fill 0.3s;
}

.pixelarticons-heart.liked {
    fill: #ff0000;
}

/* === home page === */

body .header_image {
    /* background-color: var(--variable-collection-primary-automn); */
    background-image: url(images/header_automn.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    
}

.welcome-logo {
    /* default-height: 46px; */
    /* default-width: 46px; */
    width: 64px;
    height: 64px;
}

.top-bar {
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
}

.top-bar .top-bar_item {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0px 128px;
    justify-content: space-between;
    align-items: center;
}

.top-bar_item .top-bar_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.top-bar .button:hover {
    background-color: var(--variable-collection-white);
    color: var(--variable-collection-primary-dark);
    transform: scale(1.1);
}






.top-bar .button {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
}

.sign-in {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: var(--Primary-automn, #A5380A);
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.sign-in:hover {
    background-color: var(--variable-collection-white);
    color: var(--variable-collection-primary-dark);
    border: 3px solid;
    border-color: var(--variable-collection-text-autumn);
    transform: scale(1.1);
}

.agree-terms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.register-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: var(--Primary-automn, #A5380A);
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.login-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: var(--Primary-automn, #A5380A);
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.signup-btn {
    border-radius: 15px;
    background-color: var(--variable-collection-primary-automn);
    width: 50%;
    height: 50px;
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    padding: 4px 24px;

}

.edit-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #515fdc;
    /* typo */
    color: var(--Primary-dark, #ffffff);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.btn-danger {
    border-radius: 23px;
    padding: 4px 20px;
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}



.save-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: var(--Primary-automn, #A5380A);
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.save-btn:hover {
    background-color: var(--variable-collection-white);
    color: var(--variable-collection-primary-dark);
}

.backlist-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #515fdc;
    /* typo */
    color: var(--Primary-dark, #ffffff);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}



.logout-btn {
    display: flex;
    width: 113px;
    padding: 4px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #ff0000;
    /* typo */
    color: var(--Primary-dark, #000000);
    font-family: "Lexend-Bold", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* .item-top-bar {
    display: flex;
    width: 1920px;
    height: 60px;
    padding: 0px 128px;
    justify-content: space-between;
    align-items: center;
} */

/* === home page === */

.header_image .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 80%;
}

.welcome-container .welcome-h1 {
    align-self: center;
    /* typo */
    color: var(--white, #fff);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--Primary-automn, #130d0a);
    font-family: Lexend, Helvetica;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
} 
.welcome-container .welcome-msg {
    align-items: center;
    /* typo */
    -webkit-text-stroke: 0.6px var(--variable-collection-text-autumn);
    font-family: "Lexend-Semibold", Helvetica;
    font-weight: 600;
    color: var(--variable-collection-primary-dark);
    font-size: 28px;
    text-align: center;
    
}



.container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 145px;
}

.gapper {
    margin-top: 78px;
}

.card-author {
    display: flex;
    width: 428px;
    padding: 20px 23px;
    align-items: center;
    align-content: center;
    gap: 43px 12px;
    flex-wrap: wrap;
    border: 1px solid var(--white, #FFF);
    background: var(--Primary-dark, #000);
}

.card-author .title-card {
    color: #FFF;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-author {
    display: flex;
    flex-wrap: wrap;
    width: 421px;
    align-items: center;
    gap: 43px 12px;
    padding: 20px 23px;
    position: relative;
    background-color: var(--variable-collection-primary-dark);
    border: 1px solid;
    border-color: var(--variable-collection-white);
}

.card-author .author {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Lexend-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.card-author .underline {
    position: relative;
    width: 239px;
    height: 1px;
    object-fit: cover;
    border: 1px solid var(--white, #FFF);
    background: var(--Primary-dark, #000);
}

.card-author .preview-img {
    position: relative;
    width: 375px;
    height: 341px;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}

.card-author .preview-img img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain; /* keep image proportion */
    cursor: pointer;
}

.card-author .tag-input-select {
    position: relative;
    width: 105px;
    height: 24px;
}

.card-author .overlap-group {
    position: relative;
    width: 103px;
    height: 24px;
    background-color: #d9d9d9;
}

.card-author .text-wrapper {
    position: absolute;
    top: 4px;
    left: 33px;
    font-family: "Lexend-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.card-author .pixelarticons-heart {
    position: relative;
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--variable-collection-primary-automn);
}

.footer .footer_copyright {
    width: auto;
    height: 31px;
    
}

/*====== register page =======*/


.register-page .form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.form-register .input-register {
    height: 52px;
}

/*====== end register page =======*/

/*====== login page =======*/

.login-logo {
    width: 85px;
    height: 85px;
}

.header_image .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 80%;
}

.login-container .login-h1 {
    align-self: center;
    /* typo */
    color: var(--white, #fff);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--Primary-automn, #130d0a);
    font-family: Lexend, Helvetica;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
} 

.form_container .form_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_group .form_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}



/*====== end login page ======*/

/*====== post page =======*/

.post-logo {
    width: 85px;
    height: 85px;
}

.header_image .post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 20%;
    height: 80%;
}

.post-container .post-h1 {
    align-self: center;
    /* typo */
    color: var(--white, #fff);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--Primary-automn, #130d0a);
    font-family: Lexend, Helvetica;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
} 

.post-container .post-msg {
    align-items: center;
    /* typo */
    -webkit-text-stroke: 0.6px var(--variable-collection-text-autumn);
    font-family: "Lexend-Semibold", Helvetica;
    font-weight: 600;
    color: var(--variable-collection-primary-dark);
    font-size: 28px;
    text-align: center;
}

.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 30%;
    border-radius: 46px;
    border: 25px solid var(--variable-collection-primary-automn);
    background-color: var(--variable-collection-primary-dark);
    padding-top: 120px;
    padding-bottom: 120px;
}

.form_container .post-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10x;
    
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post-container .post-image {
    width: 100%;
    max-width: 1660px;
    margin-bottom: 20px;
    
}

.post-image img{
    width: 100%;
    height: auto;
    object-fit: contain
}

/*====== comment side ======*/

.full-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .comment-container {
    
} */

/* .comment-container .comment-list {} */

/*====== end comment side ======*/


/*====== end post page ======*/



/* === variable === */
:root {
    --variable-collection-primary-dark: rgba(0, 0, 0, 1);
    --variable-collection-primary-purple: rgba(113, 16, 216, 1);
    --variable-collection-pers-green: rgba(8, 165, 36, 1);
    --variable-collection-primary-automn: rgba(165, 56, 10, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-text-autumn: rgba(202, 113, 12, 1);
    --variable-collection-autumn-back: rgba(154, 100, 0, 0.58);
    --variable-collection-grey-back: rgba(43, 43, 43, 1);
}

.hidden-element {
    display: none;
}

#post_addImage {
    background-color: var(--variable-collection-pers-green, #ffffff);
}