<form method="post" action="{{ path('app_user_delete', {'slug': user.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.slug) }}">
    <button class="btn btn-danger" aria-label="Supprimer compte définitivement">Supprimer</button>
</form>
