{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<main class="">
    {% if app.user == user %}
        <h1>Edit User</h1>

        {{ include('user/_form.html.twig') }}

    {% endif %}
</main>
{% endblock %}
