.tag-label {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #00BFFF;
    color: $primary-dark;
    margin-right: 5px;
    font-weight: bold;
    text-decoration: none;
}
