{% extends 'base.html.twig' %}

{% block title %}TheGallery : Accueil
{% endblock %}

{% block body %}
	<body>

		<main>
			<div class="box-logo">

				<h1>Welcome!</h1>
				<section>
				<div class="container-card gapper">
					<div class="card-author">
						<div class="author">Author's name</div>
						<img class="underline" src=""/>
						<div class="preview-img"></div>
						<div class="tag-input-select">
							<div class="overlap-group">
								<div class="text-wrapper">tag#1</div>
							</div>
						</div>
						<img alt="button like" class="pixelarticons-heart" src=""/>
					</div>
					<div class="card-author">
						<div class="author">Author's name</div>
						<img class="underline" src=""/>
						<div class="preview-img"></div>
						<div class="tag-input-select">
							<div class="overlap-group">
								<div class="text-wrapper">tag#1</div>
							</div>
						</div>
						<img alt="button like" class="pixelarticons-heart" src=""/>
					</div>
					<div class="card-author">
						<div class="author">Author's name</div>
						<img class="underline" src=""/>
						<div class="preview-img"></div>
						<div class="tag-input-select">
							<div class="overlap-group">
								<div class="text-wrapper">tag#1</div>
							</div>
						</div>
						<img alt="button like" class="pixelarticons-heart" src=""/>
					</div>
				</div>
				</section>

				{# {% endif %} #}

			</main>


		</body>
	{% endblock %}

