{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
<main>
    <div class="form-wrapper">

    
    

        {{ include('contact/_form.html.twig') }}

        <a href="{{ path('app_post_index') }}">accueil</a>
    </div>
</main>
{% endblock %}
